In [1]:
import pandas as pd
import mysql.connector
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

In [2]:
load_dotenv('../.env')

True

In [3]:
openai_facts = pd.read_excel('openai_facts.xlsx')
openai_facts.head()

   note_id                                          note_text
0        1  Метод `lower()` в Python возвращает строку с с...
1        2  Одним из простых и эффективных алгоритмов маши...
2        3  Если вам нужно удалить столбец из DataFrame в ...
3        4  Логистическая регрессия — это алгоритм машинно...
4        5  Используйте метод `.split()` для разделения ст...

In [4]:
DB_FACT_HOST = os.getenv("DB_FACT_HOST")
DB_FACT_USER = os.getenv("DB_FACT_USER")
DB_FACT_PASSWORD = os.getenv("DB_FACT_PASSWORD")
DB_FACT_NAME = os.getenv("DB_FACT_NAME")

In [5]:
engine = create_engine(f"mysql+mysqlconnector://{DB_FACT_USER}:{DB_FACT_PASSWORD}@{DB_FACT_HOST}/{DB_FACT_NAME}")

In [7]:
openai_facts.to_sql(name='facts', con=engine, if_exists='append', index=False)

451

In [8]:
fact = pd.read_sql_query(sql='SELECT * FROM facts ORDER BY RAND() LIMIT 1;', con=engine)

In [9]:
fact.iloc[0].note_id

296

In [14]:
pd.DataFrame(columns=['user_id', 'note_id', 'rating'], data=[[1, 2, 3]])

   user_id  note_id  rating
0        1        2       3